stat_case_study/Untitled.ipynb
stat_case_study/.ipynb_checkpoints/stat_case_study-checkpoint.ipynb
stat_case_study/.ipynb_checkpoints/Untitled-checkpoint.ipynb
python_basics/.ipynb_checkpoints/python_basics-checkpoint.ipynb
datatypes_cycles_1/.ipynb_checkpoints/datatypes_cycles_1-checkpoint.ipynb
datatypes_cycles_2/.ipynb_checkpoints/datatypes_cycles_2-checkpoint.ipynb
visualization/.ipynb_checkpoints/visualization-checkpoint.ipynb
stat_case_study/.ipynb_checkpoints/ДЗ8 Кейс-стади-checkpoint.ipynb
statistics_basics/.ipynb_checkpoints/stat_basics-checkpoint.ipynb
.DS_Store
stat_case_study/.ipynb_checkpoints*
stat_case_study/.ipynb_checkpoints*
python_basics/.ipynb_checkpoints*
datatypes_cycles_1/.ipynb_checkpoints*
datatypes_cycles_2/.ipynb_checkpoints*
visualization/.ipynb_checkpoints*
stat_case_study/.ipynb_checkpoints*
statistics_basics/.ipynb_checkpoints*
functions/.ipynb_checkpoints*
exceptions_and_error_handling/.ipynb_checkpoints*
classes/.ipynb_checkpoints*
regex/.ipynb_checkpoints*
_numpy/.ipynb_checkpoints*
_pandas/.ipynb_checkpoints*
_pandas_functions and_work_with_data/.ipynb_checkpoints*
_pandas_advanced/.ipynb_checkpoints*
_web_scrapping_and_api/.ipynb_checkpoints*
statistics_random/.ipynb_checkpoints*
statisics_correlation_regression/.ipynb_checkpoints*
statistics_classification_and_categorization/.ipynb_checkpoints*
statistics_intervals_and_hypothesis_testing/.ipynb_checkpoints*
statistics_A_B_testing/.ipynb_checkpoints*